<style type="text/css">
#header {
	height :80px;
	background-color: white;
	border-bottom: 3px ridge black;
}

</style>

<div id="data" em="<%=@data%>"></div>
<div id="header"><%= image_tag("logo3.jpeg" ,:id=>'logo2',:width=>'177px',:height=>'76px')%></div>
