$(document).ready(function(){
  $('.UL').click(function(){
  	$('.arrow').remove();
  	$('.ulclicked').removeClass('ulclicked');
  	$(this).addClass('ulclicked');
  	$(this).append("<div class='arrow'></div>");
    divrest();
  });

  $('.myphoto').click(function(){
  	
    $('#middlepage').append("<div id='container'></div>");
    for(var i=1;i<3;i++){
      var te = ".item "+i
      var g = ""+i
      var g2= "."+i
      var g3= "."+i+" > .photoset"
      var img = "<img src='/assets/1001/"+i+".png' alt='Icon'  width='280px' height='200px'/>"
      $("#container").append("<div class='item' ></div>");
      $("#container .item:last-child").addClass(g);
      $(g2).append("<div class='itemtitle'><p>照相</p></div><div class='photoset'></div><div class='itemcontent'><p>那些年，我們一起照得相</p></div>");
      $(g3).append(img);
    }
  });
 $('.fb_logout').hide();
 $('.fb_login').live('click',function(){
    $('.fb_logout').fadeToggle("slow", "linear");
 });//fb_logout 顯示 的動作
 $('.item').live('click',function(){
    var t = $(this).children('.itemtitle').text();
    var p = $(this).children('.photoset').children('img').attr('src');
    var c = $(this).children('.itemcontent').text();
    console.log(t);
    console.log(p);
    console.log(c);
    var cc =c+"<p>"+c+"</p>"+"<p>"+c+"</p>"+"<p>"+c+"</p>"+"<p>"+c+"</p>"+"<p>"+c+"</p>";
    var img ="<img src='"+p+"' alt='Icon'  width='520px' height='390px'/>"
    $('body').append('<div class="blackmosk"></div>');
    $('body').append('<div class="displayphoto"></div>');
    $('.displayphoto').append('<div class="dpage"></div>')
    $('.dpage').append('<div class="dtitle"></div>');
    $('.dpage').append('<div class="dphoto"></div>');
    $('.dpage').append('<div class="dcontent"></div>');
    $('.dtitle').text(t);
    $('.dphoto').html(img);
    $('.displayphoto').append('<div class="arrowleft"><img src="/assets/displayarrowleft.png" /></div>');
    $('.displayphoto').append('<div class="arrowright"><img src="/assets/displayarrowright.png" /></div>');
    $('.dcontent').html(cc);
    $('body').css('overflow-y','hidden');
 });//我的相簿 點選的事件
 $('.blackmosk').live('click',function(){
    $('.blackmosk').remove();
    $('.displayphoto').remove();
    $('body').css('overflow-y','auto');
 });//黑幕 點選會發生的事件
}
);




function divrest()
{
  $('#middlepage').html("");
}