$(document).ready(function(){
  $('.UL').click(function(){
  	$('.arrow').remove();
  	$('.ulclicked').removeClass('ulclicked');
  	$(this).addClass('ulclicked');
  	$(this).append("<div class='arrow'></div>");
    divrest();
  });

  $('.myphoto').click(function(){
  	
    $('#middlepage').append("<div id='container'></div>");
    var search = $(".fb_login").attr("em");
    $.ajax({
      url: "/getphoto",
      type: "POST",
      data:{ id: search},
      success: function(data) {
        alert('Load was performed.');
        console.log(data);
      },
      error: function() {
        alert('Failed.');
      }
    });
    for(var i=1;i<3;i++){
      var te = ".item "+i
      var g = ""+i
      var g2= "."+i
      var g3= "."+i+" > .photoset"
      var img = "<img src='/assets/1001/"+i+".png' alt='Icon'  width='280px' height='200px'/>"
      $("#container").append("<div class='item' ></div>");
      $("#container .item:last-child").addClass(g);
      $(g2).append("<div class='itemtitle'><p>照相</p></div><div class='photoset'></div><div class='itemcontent'><p>那些年，我們一起照得相</p></div>");
      $(g3).append(img);
      
    }
    $("#container").append("<script type='text/javascript'>$('#container').masonry({itemSelector: '.item',columnWidth: 10,isAnimated: true});</script>");
    //動態綁masonry的方法 插入script 在事件發身之後
  });
  $('.upload').click(function(){
   $('#middlepage').load('/pictures/new #pic_upload');
  });
  $('.fb_logout').hide();
  $('.fb_login').live('click',function(){
     $('.fb_logout').fadeToggle("slow", "linear");
  });//fb_logout 顯示 的動作
  $('#middlepage').click(function(){
   cancel_fblogout();
  });
  $('.leftpage').click(function(){
   cancel_fblogout();
  });
 }
);



function cancel_fblogout()
{
  $('.fb_logout').fadeOut("slow");
}
//函式 用來隱藏登出的button
function divrest()
{
  $('#middlepage').html("");
}
//函式 用來清空中間頁面的html