<!DOCTYPE html>
<html>
<head>
  <title>Picstory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
 
</head>
<body id="body" >

<%= yield %>

<%= javascript_include_tag "application" %>
<script type="text/javascript">
 
    var winWidth=0;
 
    var winHeight=0;
 
    var winWidth2=0;
 
    var winHeight2=0;
    function findDimensions() { //函数：获取尺寸
 
        //获取窗口宽度
 
        if (window.innerWidth) {
 
            winWidth = window.innerWidth;
 
        }
 
        if ((document.body) && (document.body.clientWidth)) {
 
            winWidth2 = document.body.clientWidth;
 
        }
 
        //获取窗口高度
 
        if (window.innerHeight) {
 
            winHeight = window.innerHeight;
 
        }
 
        if ((document.body) && (document.body.clientHeight)) {
 
            winHeight2 = document.body.clientHeight;
 
        }
 
        //通过深入Document内部对body进行检测，获取窗口大小
 
        if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth) {
 
            winHeight=document.documentElement.clientHeight;
 
            winWidth=document.documentElement.clientWidth;
 
        }
 
        //结果输出至两个文本框
 
        //console.log(winHeight);
        //console.log(winWidth);
        //console.log(winHeight2);
        //console.log(winWidth2);
        //设置div的具体宽度=窗口的宽度的%
        
        if(winHeight<winHeight2){winHeight=winHeight2; }
        if(winWidth<winWidth2){winWidth=winWidth2; }
        var targetHeight = winHeight+"px";
        if (document.getElementById("middlepage")) {
 
            $("#middlepage").css('min-height',targetHeight);
            
        }
 
    }
 
    findDimensions();
 
    window.onresize=findDimensions;
 
</script>
</body>
</html>
