<!DOCTYPE html>
<html>
<head>
  <title>Picstory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript">
$('#middlepage').hide();
</script>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
$('#progressin').width(99);
$(document).ready(function(){ // document 加载完的时候
$('#progressing').width(100);  // 宽度调整为 100px
$('#progresstip').html('100%');  // 进度字符显示 100%
// 停顿 0.5 秒后，将进度条隐藏
setTimeout(function(){$('#progressbar').hide();}, 500);
});
$('#middlepage').show();
$('.leftpage').show();
</script>
</script>
</body>
</html>
